---
import { Markdown } from "astro/components"

import { getSanityImageUrl, formatBlogPostDate, convertPortableTextToMarkdown } from '../utils/helpers.js'

export interface Props {
  title: string;
  author: string;
  publishDate: string;
  heroImage: string;
}

const { post } = Astro.props;
const blogPostBody = await convertPortableTextToMarkdown(post.bodyRaw);
---

<article class="post-content__article">
    {post.mainImage && <img width="720" height="420" class="post-main__img" loading="lazy" src={getSanityImageUrl(post.mainImage)} />}
    <h1>{post.title}</h1>
    <time>{formatBlogPostDate(post.publishedAt)}</time>
    <Markdown content={blogPostBody} />
</article>

<style>
  .post-content__article {
    margin: 0 auto;
    padding: 1rem;
    max-width: 960px;
  }

  .post-main__img {
    width: 100%;
    height: auto;
  }
</style>

