---
export interface Props {
  narrow?: boolean;
}

const {narrow} = Astro.props;
---

<div class={`content__container ${narrow && `content__container--narrow`}`}>
  <slot></slot>
</div>

<style>
.content__container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--container-padding);
}
.content__container--narrow {
  max-width: var(--container-max-width-narrow);
}
</style>